@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#navcolor {
    background: #41b3a3;
}
.read-more {
    background: #45a29e;
}

img {
    width: 100vh;
}

#middle{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .btn-more{
    position: relative;
    display: block;
    color: black;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin-top: 30px;
    /* border: 1px #ff7675; */
    border-radius: 20rem;
    padding: 14px 30px;
    margin-left:43.5%;
    overflow: hidden;
    transition: 1s all ease;
  }
  .btn-more::before{
    background: #41b3a3;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    transition: all 0.6s ease;
    opacity:0.3;
  }
  .btn-load::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .btn-load:hover::before{
    height: 380%;
  }

#logosize {
    height: 55px;
    width:  110px;
}

#hamburger {
    background-color: white;
}

#payment {
    padding-bottom: 10px;
    height: 70px;
    width:  200px;
}

#ourlogo {
    height:8vh;
    width:20vh;
    margin-left: -2vh;;
}

#nprogress .bar {
    height: 4px !important;
    background: white ;
}

.ql-editor {
    min-height: 300px;
}

.featured-image {
    width: 75%;
    max-height: 500px;
    object-fit: cover;
    margin-top: 2%;
    margin-left: 12%;
}

.share-btn > a {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.share-btn > a:hover {
    cursor: pointer;
}
.btn-primary {
    font-weight: 500;
     background-color: #292826;
     border-color: black;
    }
    .btn-primary:hover{
        color: #42a29e;
        font-weight: 500;
        background-color:   white ;
    }
    .btn-group-xs > .btn, .btn-xs {
        padding: .25rem .4rem;
        font-size: .875rem;
        line-height: .5;
        border-radius: .2rem;
      }
    a{
        font-family: 'Montserrat', sans-serif;
        color: black;
    }
    a:hover{
        text-decoration: none;
        color: rgb(77, 76, 76);
    }
    .btn-read{
        font-weight: 500;
        color: whitesmoke;
        background-color: #42a29e;
    }
    .btn-read:hover{
        font-weight: 500;
        background-color: whitesmoke;
        color: #013f3d;
        border-color: #013f3d;
    }
    .btn-outline-primary {
        background-color: white;
        color: black;
        border-color: black;
    }
    .btn-outline-primary:hover {
        font-weight: 500;
        background-color: #b0faf7;
        color: black;
    }
    .btn-load {
        border-color: black;
        font-weight: bolder;
    }
    .card-text{
        font-weight: 400;
    }
    #cat {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        font-size: medium;
        color: #054274;
    }
    #header{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        color: white;
        margin-left: 2vh;
    }
    #header1{
        font-size: medium;
        color: white;
        letter-spacing: 4px;
    }
    .index{
        color: tomato;
    }
    hr {
        border: none;
        height: 1.5px;
        background-color: grey;
    }
    .read-btn {
        border-radius: 50px;
    }
  .buscar-caja {
    position: relative;
    transform: translate();
    float: right;
    background:white;
    margin-right: 60px;
    height: 40px;
    border-radius: 40px; 
    border: 1px solid; 
    padding: 10px;
   }
   .buscar-caja:hover {
    border: 1px solid black;
    border-radius: 40px;
   }
   .buscar-caja:hover > .buscar-txt {
    width: 240px;
    padding: 0 6px;
   }
   .buscar-caja:hover > .buscar-btn {
    background: white;
    color: black;
   }
   .buscar-btn {
    color: #E84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2F3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
   }
   .buscar-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 10px;
    width: 0px;
    font-weight: bold;
    text-align:justify;
   }
   #blog-result-message{
       font-weight: bolder;
   }

.signup-component-js,.signin-component-js
{
    width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
    position: relative;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: rgb(228, 226, 226);;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .collapse {
    text-align: center;
    }
.footerwaulto {
    margin-top: 1vh;
    text-align: center;
}
  .footer {
    background-color: rgb(175, 173, 173);
    bottom: 0;
    width: 100%;
    position:absolute;
}
.icon {
    margin-bottom: 1%;
    margin-left: 2vh;
    margin-top: 1%;
    border: 20px;
    border-color: white;
}
.footer-dev {
    text-align: center;
    color: rgb(5, 5, 5);
    font-weight:bolder;
    margin-left: 8vh;
}
.footerwaulto {
    margin-left: 8vh;
}
.footer-text {
    text-align: center;
    color: white;
    font-weight:bolder;
    margin-right: 18%;
    font-size: 20px;
}
.text {
    text-align: center;
    /* margin-top: 2.5vh; */
    padding-top: 2vh;
}
#page-container {
    position: relative;
    min-height: 100vh;
    height:100%;
    padding-bottom: 10vh;
  }
#content-wrap {
    padding-bottom: 80px;
}
.form {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 11vh;
    margin-bottom: 2vh;
}
.form-wrapper {
    margin-top: 10vh;
    margin-bottom: 11vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 10px 50px #555;
    background-color: #FFFFFF;
    float: right;
    text-align: center;
    font-weight: bolder;
    }
#index-logo {
    margin-top: 20px;
    width:  100%;
    height: 500px;
    background-size: cover;
}
.mark{
    font-size: medium;
    background: #e5f8f7e8;
}
.related {
    color: black;
    text-align: center; 
    padding-top: 5%;
    padding-bottom: 2%;
    font-family: montserrat;
}

.row {
    padding-bottom: 5%;
}
  @media only screen and (max-width: 800px) {
    #header {
        display: none!important;
    }
    .lead {
        display: inline;
    }
    .featured-image {
        width: 80%;
        max-height: 200px;
        object-fit: cover;
        margin-top: 2%;
        float: none;
        margin-left: 10%;
    }
    .buscar-caja {
        margin-right: 10px;
       }
    .form {
        height: 60vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-bottom: 7vh;
        margin-top: 20vh;
    }
    .btn-more {
        margin-left: 33%;
    }
    /* .row {
        padding-top: 10%;
    } */
    .footer-text {
        text-align: center;
        color: white;
        font-weight:bolder;
        margin-right: 0vh;
    }
    img {
        width: 100%;
    }
    .footer {
        background-color: rgb(175, 173, 173);
        bottom: 0;
        width: 100%;
        /* z-index: 1;  */
        position:absolute;
        /* height:15vh; */
        text-align: center;
    }
    .form-wrapper {
        margin-bottom: 75px;
        width: 400px;
        display: flex;
        flex-direction: column;
        padding: 25px 10px 80px 10px;
        border-radius: 15px;
        box-shadow: 0px 10px 50px #555;
        background-color: #FFFFFF;
        float: right;
        text-align: center;
        font-weight: bolder;
        }

        .mark{
            font-size: small;
        }
    .icon {
        margin-bottom: 1%;
        margin-left: 1vh;
        margin-top: 1%;
    }
    .index-logo {
        width:  100%;
        height: 10%;
        background-size: cover;
    }
    .icon {
        margin-bottom: -4vh;
    }
    .footer-dev {
        text-align: center;
        color: rgb(5, 5, 5);
        font-weight:bolder;
        margin-left: 1vh;
    }
    #container-fluid {
        margin-left: -15%;
    }
  }
  @media only screen and (max-width: 811px) and (orientation: landscape) {
    img {
        width: 80vh;
    }
    #head-text {
        visibility: hidden;
    }
    .col-md-12  {
        text-align: center;
    }
    #container-fluid {
        margin-left: -17%;
        margin-top: -8%;
    }
    .form {
        height: 110vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-top: 9vh;
        margin-bottom: 16vh;
    }
    .footer {
        background-color: rgb(175, 173, 173);
        bottom: 0;
        width: 100%;
        position:absolute;
    }
    .icon {
        margin-bottom: 1%;
        margin-left: 13%;
        margin-top: 1%;
    }
    .footer-text {
        text-align: center;
        color: white;
        font-weight:bolder;
        margin-left: 54vh;
    }
  }
  .collapse{
      color: white;
  }
  .header-signup{
      text-align: center;
  }



  